form {
    input {
        padding: ratio-space(1px);
        margin-right: -4px;
        font-weight: 600;
        letter-spacing: 1px;
        width: 250px;

        &[type="submit"] {
            background-color: $black;
            color: $white;
            width: auto;
        }
    }
}